body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:527px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:2px;
  width:300px;
  height:527px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:37px;
  width:300px;
  height:1px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:6px;
  width:130px;
  height:25px;
}
#u726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:44px;
  width:297px;
  height:153px;
  text-align:left;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:293px;
  word-wrap:break-word;
}
#u729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:48px;
  width:48px;
  height:16px;
  color:#999999;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:132px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:305px;
  width:297px;
  height:132px;
  text-align:left;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:293px;
  word-wrap:break-word;
}
#u733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:199px;
  width:297px;
  height:103px;
  text-align:left;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:293px;
  word-wrap:break-word;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:7px;
  width:23px;
  height:25px;
}
#u735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:527px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:300px;
  height:527px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:256px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:35px;
  width:300px;
  height:1px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:4px;
  width:130px;
  height:25px;
}
#u740_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:42px;
  width:297px;
  height:153px;
  text-align:left;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:293px;
  word-wrap:break-word;
}
#u743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:202px;
  width:297px;
  height:107px;
  text-align:left;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:293px;
  word-wrap:break-word;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:5px;
  width:23px;
  height:25px;
}
#u745_input {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:46px;
  width:48px;
  height:16px;
  color:#999999;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:46px;
  width:60px;
  height:16px;
  color:#0000FF;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
